In [11]:
import pandas as pd

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
import opendatasets as od

In [8]:
od.download("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz")

Downloading https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz to .\green_tripdata_2019-09.csv.gz

7856128it [01:18, 100291.72it/s]

In [9]:
file_path ="./green_tripdata_2019-09.csv.gz"

In [24]:
green_df = pd.read_csv(file_path,low_memory = False, iterator = True, chunksize = 10000)

In [25]:
green_df

In [30]:
first_chunk = next(green_df)
first_chunk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 10000 to 19999
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               10000 non-null  int64
 1   lpep_pickup_datetime   10000 non-null  object
 2   lpep_dropoff_datetime  10000 non-null  object
 3   store_and_fwd_flag     10000 non-null  object
 4   RatecodeID             10000 non-null  int64
 5   PULocationID           10000 non-null  int64
 6   DOLocationID           10000 non-null  int64
 7   passenger_count        10000 non-null  int64
 8   trip_distance          10000 non-null  float64
 9   fare_amount            10000 non-null  float64
 10  extra                  10000 non-null  float64
 11  mta_tax                10000 non-null  float64
 12  tip_amount             10000 non-null  float64
 13  tolls_amount           10000 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  10000 non-null  float64
 16  total_amount           10000 non-null  float64
 17  payment_type           10000 non-null  int64
 18  trip_type              10000 non-null  int64
 19  congestion_surcharge   10000 non-null  float64
dtypes: float64(10), int64(7), object(3)
memory usage: 1.5+ MB

In [35]:
for chunk in green_df:
    chunk['lpep_pickup_datetime'] = pd.to_datetime(chunk['lpep_pickup_datetime'])
    chunk['lpep_dropoff_datetime'] = pd.to_datetime(chunk['lpep_dropoff_datetime'])
    # Perform additional operations with the chunk
    print(chunk.head())
    break

In [23]:
print(pd.io.sql.get_schema(green_df, name = "green_table"))

CREATE TABLE "green_table" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [36]:
from sqlalchemy import create_engine

In [38]:
engine = create_engine("postgresql://root:1234@localhost:5432/green_db")

In [39]:
for chunk in green_df:
    chunk.head(n=0).to_sql( name = "green_table", con = engine, if_exists = "replace")
    chunk.to_sql(name = "green_table", con = engine, if_exists = "replace")
    print("inserting")